schemas/AssignMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="policyCommon.xsd"/>
  <xs:include schemaLocation="assignBase.xsd"/>

  <xs:element name="AssignMessage">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element minOccurs="0" maxOccurs='1' name="IgnoreUnresolvedVariables" type='xs:boolean'/>
            <xs:element minOccurs='0' maxOccurs='1' name="AssignTo" type='amAssignTo'/>
            <xs:element minOccurs='0' maxOccurs='unbounded' name="AssignVariable" type='assignVariable'/>
            <xs:element minOccurs='0' maxOccurs='unbounded' name="Add" type='assignAdd'/>
            <xs:element minOccurs='0' maxOccurs='unbounded' name="Set" type='assignSet'/>
            <xs:element minOccurs='0' maxOccurs='unbounded' name="Copy" type='assignCopy'/>
            <xs:element minOccurs='0' maxOccurs='unbounded' name="Remove" type='assignRemove'/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="amAssignTo">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="amMessageType"/>
        <xs:attribute name="createNew" type='xs:boolean'/>
        <xs:attribute name="transport" type="xs:NCName"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="amMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="request"/>
      <xs:enumeration value="response"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="assignSet">
    <xs:complexContent mixed="false">
      <xs:extension base="assignSetRequest">
        <xs:all>
          <xs:element minOccurs='0' maxOccurs='1' name="ReasonPhrase" type='xs:string'/>
          <xs:element minOccurs='0' maxOccurs='1' name="StatusCode" type='statusCode'/>
        </xs:all>
        <xs:assert test="count(ReasonPhrase) le 1 and count(StatusCode) le 1"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
