schemas/GetOAuthV2Info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="policyCommon.xsd"/>

  <xs:element name="GetOAuthV2Info">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element minOccurs='0' name="AccessToken" type='propertyBean'/>
            <xs:element minOccurs='0' name="AuthorizationCode" type='propertyBean'/>
            <xs:element minOccurs='0' name="ClientId" type='propertyBean'/>
            <xs:element minOccurs='0' maxOccurs='1' name="IgnoreAccessTokenStatus" type='xs:boolean'/>
          </xs:all>
          <xs:assert test="(count(AccessToken) = 1 and count(AuthorizationCode) = 0 and count(ClientId) = 0) or
                           (count(AccessToken) = 0 and count(AuthorizationCode) = 1 and count(ClientId) = 0) or
                           (count(AccessToken) = 0 and count(AuthorizationCode) = 0 and count(ClientId) = 1)"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
