schemas/LookupCache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="policyCommon.xsd"/>
  <xs:include schemaLocation="cacheCommon.xsd"/>
  <xs:element name="LookupCache">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element minOccurs="0" name="CacheResource" type="xs:NCName"/>
            <xs:element minOccurs='0' name="Scope" type="cacheScopeType"/>
            <xs:element minOccurs='1' name="CacheKey" type='cacheKey'/>
            <xs:element minOccurs='1' name="AssignTo" type='nonEmptyString'/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
