schemas/MessageValidation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="policyCommon.xsd"/>

  <xs:element name="MessageValidation">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element minOccurs='0' maxOccurs='1' name="Source" type='nonEmptyString'/>
            <xs:element minOccurs='0' maxOccurs='1' name="ResourceURL" type='mvResourceUrl'/>
            <xs:element minOccurs='0' maxOccurs='1' name="SOAPMessage" type='mvSoapMessage'/>
            <xs:element minOccurs='0' maxOccurs='1' name="Element" type='mvElement'/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="mvResourceUrl">
    <xs:restriction base="resourceURL">
      <xs:assertion test="substring-before($value, '://') = ('wsdl', 'xsd')"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mvSoapMessage">
    <xs:attribute name="version" type="mvSoapMessageVersion" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="mvSoapMessageVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1.1"/>
      <xs:enumeration value="1.2"/>
      <xs:enumeration value="1.1/1.2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="mvElement">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="namespace" use="optional" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
