schemas/OASValidation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="policyCommon.xsd"/>

  <xs:element name="OASValidation">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element minOccurs='1' name="OASResource" type="oasResourceURL"/>
            <xs:element minOccurs='0' name="Options" type='oasOptions'/>
            <xs:element minOccurs='0' name="Source" type='nonEmptyString'/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="oasResourceURL">
    <xs:restriction base="resourceURL">
      <xs:assertion test="substring-before($value, '://') = ('oas')"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType  name="oasOptions">
    <xs:all>
      <xs:element minOccurs='0' name="ValidateMessageBody" type='xs:boolean'/>
      <xs:element minOccurs='0' name="AllowUnspecifiedParameters" type='oasUnspecifiedParamsType'/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="oasUnspecifiedParamsType">
    <xs:all>
      <xs:element minOccurs='0' maxOccurs='1' name="Header" type="xs:boolean"/>
      <xs:element minOccurs='0' maxOccurs='1' name="Query" type="xs:boolean"/>
      <xs:element minOccurs='0' maxOccurs='1' name="Cookie" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

</xs:schema>
