schemas/Script.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">

  <xs:include schemaLocation="policyCommon.xsd"/>

  <xs:element name="Script">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element minOccurs='0' maxOccurs='unbounded' name="IncludeURL" type="scriptResourceURL"/>
            <xs:element minOccurs='1' name="ResourceURL" type="scriptResourceURL"/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="scriptResourceURL">
    <xs:restriction base="resourceURL">
      <xs:assertion test="substring-before($value, '://') = ('py','js')"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
