schemas/SpikeArrest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">
  <xs:include schemaLocation="policyCommon.xsd"/>

  <xs:element name="SpikeArrest">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="policyBase">
          <xs:all>
            <xs:element name="Rate" type="Rate"/>
          </xs:all>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

    <xs:complexType name="Rate">
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attribute name="ref" type="xs:NCName"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>

</xs:schema>
