schemas/TargetEndpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1"
           elementFormDefault="qualified">
  <xs:include schemaLocation="endpointBase.xsd"/>
  <xs:include schemaLocation="authentication.xsd"/>

  <xs:element name="TargetEndpoint">
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="endpointBase">
          <xs:all>
            <xs:element minOccurs='0' maxOccurs='1' name="HTTPTargetConnection" type="epHTTPTargetConnection"/>
            <xs:element minOccurs='0' maxOccurs='1' name="LocalTargetConnection" type="epLocalTargetConnection"/>
          </xs:all>
          <xs:assert test="(count(HTTPTargetConnection) eq 1 and count(LocalTargetConnection) eq 0) or
                           (count(HTTPTargetConnection) eq 0 and count(LocalTargetConnection) eq 1)"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="epHTTPTargetConnection">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Authentication" type="authentication"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Properties" type="epProperties"/>
      <xs:element minOccurs="0" maxOccurs="1" name="LoadBalancer" type="epLoadBalancer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="HealthMonitor" type="epHealthMonitor"/>
      <xs:element minOccurs="0" maxOccurs="1" name="SSLInfo" type="epSSLInfo"/>
      <xs:element minOccurs="0" maxOccurs="1" name="URL" type="xs:anyURI"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Path" type="xs:string"/>
    </xs:all>
    <xs:assert test="(count(URL) eq 1 and count(LoadBalancer) eq 0) or
                     (count(URL) eq 0 and count(LoadBalancer) eq 1)"/>
  </xs:complexType>

  <xs:complexType name="epLocalTargetConnection">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="APIProxy" type="epNonEmptyString"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ProxyEndpoint" type="epNonEmptyString"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Path" type="epNonEmptyString"/>
    </xs:all>
    <xs:assert test="(count(APIProxy) eq 1 and count(ProxyEndpoint) eq 1 and count(Path) eq 0) or
                     (count(APIProxy) eq 0 and count(ProxyEndpoint) eq 0 and count(Path) eq 1)"/>
  </xs:complexType>

  <xs:complexType name="epLoadBalancer">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Algorithm" type="epAlgorithm"/>
      <xs:element minOccurs="0" maxOccurs="1" name="MaxFailures" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="RetryEnabled" type='xs:boolean'/>
      <xs:element minOccurs="0" maxOccurs="1" name="TargetDisableSecs" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ServerUnhealthyResponse" type="epHTTPResponse"/>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="Server" type="epServer"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="epAlgorithm">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RoundRobin"/>
      <xs:enumeration value="Weighted"/>
      <xs:enumeration value="LeastConnections"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="epServer">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="IsEnabled" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IsFallback" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Weight" type="xs:integer"/>
    </xs:all>
    <xs:attribute name="name" use="required" type="xs:NCName"/>
  </xs:complexType>

  <xs:complexType name="epHealthMonitor">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="IntervalInSec" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IsEnabled" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="HTTPMonitor" type="epHTTPMonitor"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TCPMonitor" type="epTCPMonitor"/>
    </xs:all>
    <xs:assert test="(count(HTTPMonitor) eq 1 and count(TCPMonitor) eq 0) or
                     (count(HTTPMonitor) eq 0 and count(TCPMonitor) eq 1)"/>
  </xs:complexType>

  <xs:complexType name="epTCPMonitor">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ConnectTimeoutInSec" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Port" type="xs:integer"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="epHTTPMonitor">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="Request" type="epHTTPRequest"/>
      <xs:element minOccurs="1" maxOccurs="1" name="SuccessResponse" type="epHTTPResponse"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="epHTTPRequest">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Payload" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ConnectTimeoutInSec" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="SocketReadTimeoutInSec" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="UseTargetServerSSLInfo" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Port" type="xs:integer"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IncludeHealthCheckIdHeader" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IsSSL" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TrustAllSSL" type="xs:boolean"/>
      <xs:element minOccurs="1" maxOccurs="1" name="Verb" type="xs:string"/>
      <xs:element minOccurs="1" maxOccurs="1" name="Path" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Header" type="epHTTPMonitorHeader"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="epHTTPMonitorHeader">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="epNonEmptyString" use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="epHTTPResponse">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Header" type="epHTTPMonitorHeader"/>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="xs:integer"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="epSSLInfo">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Enabled" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="ClientAuthEnabled" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="KeyStore" type="epNonEmptyString"/>
      <xs:element minOccurs="0" maxOccurs="1" name="KeyAlias" type="epNonEmptyString"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CertAlias" type="epNonEmptyString"/>
      <xs:element minOccurs="0" maxOccurs="1" name="CommonName" type="epCommonName"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Protocols" type="epProtocols"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Ciphers" type="epCiphers"/>
      <xs:element minOccurs="0" maxOccurs="1" name="TrustStore" type="epNonEmptyString"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Enforce" type="xs:boolean"/>
      <xs:element minOccurs="0" maxOccurs="1" name="IgnoreValidationErrors" type="xs:boolean"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="epCommonName">
    <xs:simpleContent>
      <xs:extension base="epNonEmptyString">
        <xs:attribute name="wildcardMatch" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="epProtocols">
    <xs:sequence>
      <xs:element name='Protocol' minOccurs="0" maxOccurs="unbounded" type="epNonEmptyString"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="epCiphers">
    <xs:sequence>
      <xs:element name='Cipher' minOccurs="0" maxOccurs="unbounded" type="epNonEmptyString"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
